@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
}

/* menu hamburguesa */
#hamburger-menu {
  display: none;
}
#hamburger-input {
  display: none;
}
.overlay {
  display: none;
}
/* Barra negra header */
.barra-1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #222222;
  color: #f3f3f3;
}
.barra-1 p {
  display: flex;
  margin: 5px 40px;
}

.barra-1 nav {
  margin: 5px 40px;
}

.idioma-peso ul {
  display: flex;
  gap: 10px;
}

.idioma-peso ul li {
  list-style: none;
}

.idioma-peso a {
  color: #ffffff;
}

.idioma-peso a:hover {
  color: #f0a83e;
}

/* Barra naranja header */

.barra-2 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #f0a83e;
  color: #ffffff;
}

.logo {
  margin: 5px 40px;
  height: 23px;
}

.nav-bar {
  margin: 5px 40px;
  color: #ffffff;
}

.nav-bar ul {
  display: flex;
  gap: 50px;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar a {
  color: #ffffff;
}

.nav-bar a:hover {
  color: black;
}

/* Hero banner */

.hero-banner {
  display: flex;
  justify-content: right;
  height: 600px;
  background-image: url(/img/bowl-and-pet-daities-on-green-background\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 250px;
  margin-right: 50px;
}

.welcome h2 {
  background-color: #ffffff;
  font-size: 30px;
  border-radius: 5px;
  padding: 10px;
}

.welcome p {
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.hero-button {
  width: 150px;
  padding: 8px;
  background-color: #f0a83e;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
}

/* Productos destacados */

.productos-destacados {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.productos-destacados h1 {
  padding: 10px;
  font-size: 40px;
  font-weight: 700;
}

.productos-destacados p {
  color: #666666;
}

/* Productos destacados display */

.destacados {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.productos-display {
  background-color: #fbfaf6;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.precio {
  color: #f0a83e;
  font-weight: 500;
  font-size: 15px;
}

/* formulario contacto */
.contacto {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto h2 {
  color: #3c2313;
  padding: 10px;
}

.formulario {
  color: white;
  font-weight: 400;
  font-size: 12px;
  width: 340px;
  background-color: #3c2313;
  padding: 10px;
  border-radius: 15px;
}

.formulario {
  margin: 5px;
  padding: 15px;
}

.button-reset {
  color: #ffffff;
  background-color: #8a8787;
  width: 110px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  border-radius: 15px;
}

.button-enviar {
  color: #ffffff;
  background-color: #f0a83e;
  width: 110px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  border-radius: 15px;
}

.button-reset,
.button-enviar {
  margin-top: 40px;
  position: relative;
  left: 55px;
}

/* Newsletter */

.newsletter {
  display: flex;
  justify-content: space-between;
  background-color: #f0a83e;
  color: #ffffff;
  padding: 30px;
  margin-top: 120px;
}

.suscribete {
  display: flex;
}

.newsletter img {
  height: 25px;
  margin-right: 5px;
}

.newsletter-input {
  background-color: #ffffff;
  border-style: none;
  padding: 15px;
  width: 350px;
  border-radius: 15px;
}

.newsletter-submit {
  background-color: #3c2313;
  color: #ffffff;
  padding: 15px;
  border-radius: 15px;
}

/* footer */

footer {
  background-color: #3c2313;
}

footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: #ffffff;
}

.footer-icon {
  width: 40px;
  margin: 0 5px;
}

.footer-info {
  margin-bottom: 10px;
}

span {
  font-size: 10px;
  color: #8a8787;
  opacity: 0.8;
  margin-left: 50px;
}

.barra-negra-footer {
  display: flex;
  justify-content: center;
  background-color: #222222;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  padding: 10px;
}
/* nav menu hamburguesa */
@media (max-width: 768px) {
  #hamburger-menu {
    position: absolute;
    right: 20px;
    top: 5px;
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    margin: 20px;
    z-index: 1000;
    background: linear-gradient(
      to bottom,
      white,
      white 20%,
      #f0a83e 20%,
      #f0a83e 40%,
      white 40%,
      white 60%,
      #f0a83e 60%,
      #f0a83e 80%,
      white 80%,
      white 100%
    );
  }
  #hamburger-menu h3 {
    color: white;
    font-size: 2.2rem;
  }

  #hamburger-menu ul {
    padding-left: 0px;
  }

  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }

  #hamburger-menu a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
  }

  #hamburger-menu a:hover {
    text-decoration: underline;
  }
  #hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    transition: 0.3s;
    background-color: #f0a83e;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
  }
  #hamburger-input:checked ~ .overlay {
    visibility: visible;
    opacity: 0.4;
  }
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    background: black;
    z-index: 10;
  }

  /* fin nav menu hamburguesa */
  .nav-bar {
    display: none;
  }
  .barra-1 {
    display: none;
  }
  .newsletter {
    flex-direction: column;
    align-items: center;
  }
  .newsletter h2 {
    font-size: 0.8em;
  }
  .newsletter-input {
    width: 150px;
  }
  .newsletter-submit {
    padding: 7px;
  }
  .footer-info {
    font-size: 1.1em;
  }
  footer section {
    flex-direction: column-reverse;
  }
}
