@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
}

/* Barra negra header */

.barra-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  color: #f3f3f3;
}
.barra-1 p {
  display: flex;
  margin: 5px 40px;
}

.barra-1 nav {
  margin: 5px 40px;
}

.idioma-peso ul {
  display: flex;
  gap: 10px;
}

.idioma-peso ul li {
  list-style: none;
}

.idioma-peso a {
  color: #ffffff;
}

.idioma-peso a:hover {
  color: #f0a83e;
}

/* Barra naranja header */

.barra-2 {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #f0a83e;
  color: #ffffff;
}

.logo {
  margin: 5px 40px;
  height: 23px;
}

.nav-bar {
  margin: 5px 40px;
  color: #ffffff;
}

.nav-bar ul {
  display: flex;
  gap: 50px;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar a {
  color: #ffffff;
}

.nav-bar a:hover {
  color: black;
}

/* Hero banner */

.hero-banner {
  display: flex;
  justify-content: right;
  height: 600px;
  background-image: url(/img/bowl-and-pet-daities-on-green-background\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 250px;
  margin-right: 50px;
}

.welcome h2 {
  background-color: #ffffff;
  font-size: 30px;
  border-radius: 5px;
  padding: 10px;
}

.welcome p {
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.hero-button {
  width: 150px;
  padding: 8px;
  background-color: #f0a83e;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
}

/* Productos destacados */

.productos-destacados {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.productos-destacados h1 {
  padding: 10px;
  font-size: 40px;
  font-weight: 700;
}

.productos-destacados p {
  color: #666666;
}

/* Productos destacados display */

.destacados {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.productos-display {
  background-color: #fbfaf6;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.precio {
  color: #f0a83e;
  font-weight: 500;
  font-size: 15px;
}

/* formulario contacto */
.contacto {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto h2 {
  color: #3c2313;
  padding: 10px;
}

.formulario {
  color: white;
  font-weight: 400;
  font-size: 12px;
  width: 340px;
  background-color: #3c2313;
  padding: 10px;
  border-radius: 15px;
}

.formulario {
  margin: 5px;
  padding: 15px;
}

.button-reset {
  color: #ffffff;
  background-color: #8a8787;
  width: 110px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  border-radius: 15px;
}

.button-enviar {
  color: #ffffff;
  background-color: #f0a83e;
  width: 110px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  border-radius: 15px;
}

.button-reset,
.button-enviar {
  margin-top: 40px;
  position: relative;
  left: 55px;
}

/* Newsletter */

.newsletter {
  display: flex;
  justify-content: space-between;
  background-color: #f0a83e;
  color: #ffffff;
  padding: 30px;
  margin-top: 120px;
}

.newsletter h2 {
  position: relative;
  right: 300px;
}

.newsletter img {
  height: 25px;
}

.newsletter-input {
  background-color: #ffffff;
  border-style: none;
  padding: 15px;
  width: 350px;
  border-radius: 15px;
}

.newsletter-submit {
  background-color: #3c2313;
  color: #ffffff;
  padding: 15px;
  border-radius: 15px;
}

/* footer */

footer section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: row;
  background-color: #3c2313;
  color: #ffffff;
  padding: 15px;
}

.footer-icon {
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-info {
  position: relative;
  right: 500px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.footer-logo {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  height: 25px;
}

span {
  font-size: 10px;
  color: #8a8787;
  opacity: 0.8;
}

.barra-negra-footer {
  display: flex;
  justify-content: center;
  background-color: #222222;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  padding: 10px;
}

.correo {
  position: relative;
  left: 40px;
}
